<a href="https://colab.research.google.com/github/aronpwong/lhl-transportationanalysis/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [19]:
# Load the data
ny_subway = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/lhl-finalproject/NYC_subway_traffic_2017-2021.csv')
ny_stations = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/lhl-finalproject/station_lookup.csv')
ny_census = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/lhl-finalproject/NYC_neighborhood_census_data_2020.csv')
mta_ridership = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/lhl-finalproject/MTA_Daily_Ridership_Data__Beginning_2020_20240808.csv')
transportation_stats = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/lhl-finalproject/Monthly_Transportation_Statistics.csv')
nyc_air = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/lhl-finalproject/NYC_Air_Quality.csv')
usa_pollution = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/lhl-finalproject/USA_Pollution.csv')

In [7]:
# Remove duplicate rows
ny_subway.drop_duplicates(inplace=True)
ny_stations.drop_duplicates(inplace=True)
ny_census.drop_duplicates(inplace=True)
mta_ridership.drop_duplicates(inplace=True)
transportation_stats.drop_duplicates(inplace=True)
nyc_air.drop_duplicates(inplace=True)
usa_pollution.drop_duplicates(inplace=True)

# Remove rows with any null values
ny_subway.dropna(inplace=True)
ny_stations.drop_duplicates(inplace=True)
ny_census.drop_duplicates(inplace=True)
mta_ridership.dropna(inplace=True)
transportation_stats.dropna(inplace=True)
nyc_air.dropna(inplace=True)
usa_pollution.dropna(inplace=True)

In [22]:
usa_pollution_nyc = usa_pollution[usa_pollution['State'] == 'New York']

In [23]:
usa_pollution_nyc

,Unnamed: 0,Date,Address,State,County,City,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,...,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
15820,15820,2000-05-05,200TH STREET AND SOUTHERN BLVD Harding Lab,New York,Bronx,New York,0.020882,0.036,10,33,...,23,13.0,8.800000,15.0,23,21.0,42.500000,60.0,22,57
15821,15821,2000-05-06,200TH STREET AND SOUTHERN BLVD Harding Lab,New York,Bronx,New York,0.036647,0.065,10,84,...,5,24.0,9.500000,26.0,2,37.0,42.875000,82.0,20,81
15822,15822,2000-05-07,200TH STREET AND SOUTHERN BLVD Harding Lab,New York,Bronx,New York,0.040059,0.069,10,97,...,0,15.0,7.041667,21.0,6,30.0,29.000000,56.0,7,53
15823,15823,2000-05-08,200TH STREET AND SOUTHERN BLVD Harding Lab,New York,Bronx,New York,0.032529,0.057,10,58,...,23,14.0,12.045455,26.0,6,37.0,49.958333,87.0,20,86
15824,15824,2000-05-09,200TH STREET AND SOUTHERN BLVD Harding Lab,New York,Bronx,New York,0.048235,0.066,10,87,...,0,14.0,9.666667,19.0,1,27.0,36.619048,55.0,7,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659386,659386,2023-08-27,Queens College 65-30 Kissena Blvd Parking L...,New York,Queens,New York,0.035353,0.040,10,37,...,1,5.0,0.125000,0.5,18,0.0,4.379167,17.4,18,16
659387,659387,2023-08-28,Queens College 65-30 Kissena Blvd Parking L...,New York,Queens,New York,0.026118,0.033,9,31,...,0,3.0,0.104167,0.3,6,0.0,4.910526,11.2,6,10
659388,659388,2023-08-29,Queens College 65-30 Kissena Blvd Parking L...,New York,Queens,New York,0.026176,0.035,11,32,...,18,3.0,0.100000,0.1,0,0.0,5.962500,13.1,5,12
659389,659389,2023-08-30,Queens College 65-30 Kissena Blvd Parking L...,New York,Queens,New York,0.036000,0.050,9,46,...,0,3.0,0.112500,0.3,16,0.0,7.512500,14.4,10,13
659390,659390,2023-08-31,Queens College 65-30 Kissena Blvd Parking L...,New York,Queens,New York,0.031083,0.035,9,32,...,0,2.0,0.177273,0.9,1,0.0,4.000000,4.0,0,4

In [24]:
usa_pollution_nyc.to_csv('usa_pollution_nyc.csv', index=False)

In [25]:
transportation_stats

,Index,Date,Air Safety - General Aviation Fatalities,Highway Fatalities Per 100 Million Vehicle Miles Traveled,Highway Fatalities,U.S. Airline Traffic - Total - Seasonally Adjusted,U.S. Airline Traffic - International - Seasonally Adjusted,U.S. Airline Traffic - Domestic - Seasonally Adjusted,Transit Ridership - Other Transit Modes - Adjusted,Transit Ridership - Fixed Route Bus - Adjusted,...,U.S. Air Carrier Cargo (millions of revenue ton-miles) - Domestic,Heavy truck sales SAAR (millions),U.S. Airline Traffic - Total - Non Seasonally Adjusted,Light truck sales SAAR (millions),U.S. Airline Traffic - International - Non Seasonally Adjusted,Auto sales SAAR (millions),U.S. Airline Traffic - Domestic - Non Seasonally Adjusted,Transborder - Total North American Freight,Transborder - U.S. - Mexico Freight,Transborder - U.S. - Canada Freight
0,0,01/01/1947 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,02/01/1947 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,03/01/1947 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,04/01/1947 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,05/01/1947 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,879,04/01/2020 12:00:00 AM,14.0,NaN,NaN,3010000.0,130000.0,2880000.0,4666471.0,93535952.0,...,1.447281e+09,346000.0,3010000.0,6769000.0,130000.0,1974000.0,2880000.0,5.812297e+10,2.835669e+10,2.976629e+10
880,880,05/01/2020 12:00:00 AM,22.0,NaN,NaN,8420000.0,190000.0,8240000.0,5662109.0,106185406.0,...,1.583861e+09,304000.0,NaN,9487000.0,NaN,2708000.0,NaN,5.606894e+10,2.536716e+10,3.070178e+10
881,881,06/01/2020 12:00:00 AM,29.0,NaN,NaN,NaN,NaN,NaN,7066933.0,159082555.0,...,NaN,342000.0,NaN,10086000.0,NaN,2967000.0,NaN,8.205149e+10,4.159115e+10,4.046034e+10
882,882,07/01/2020 12:00:00 AM,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
883,883,08/01/2020 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:

# Convert 'Date' column to datetime objects
transportation_stats['Date'] = pd.to_datetime(transportation_stats['Date'])

# Filter data between 2017 and 2024
start_date = '2015-01-01'
end_date = '2024-12-31'
filtered_transportation_stats = transportation_stats[(transportation_stats['Date'] >= start_date) & (transportation_stats['Date'] <= end_date)]

# Display the filtered data
filtered_transportation_stats

,Index,Date,Air Safety - General Aviation Fatalities,Highway Fatalities Per 100 Million Vehicle Miles Traveled,Highway Fatalities,U.S. Airline Traffic - Total - Seasonally Adjusted,U.S. Airline Traffic - International - Seasonally Adjusted,U.S. Airline Traffic - Domestic - Seasonally Adjusted,Transit Ridership - Other Transit Modes - Adjusted,Transit Ridership - Fixed Route Bus - Adjusted,...,U.S. Air Carrier Cargo (millions of revenue ton-miles) - Domestic,Heavy truck sales SAAR (millions),U.S. Airline Traffic - Total - Non Seasonally Adjusted,Light truck sales SAAR (millions),U.S. Airline Traffic - International - Non Seasonally Adjusted,Auto sales SAAR (millions),U.S. Airline Traffic - Domestic - Non Seasonally Adjusted,Transborder - Total North American Freight,Transborder - U.S. - Mexico Freight,Transborder - U.S. - Canada Freight
816,816,2015-01-01,24.0,1.03,7370.0,NaN,NaN,NaN,15481236.0,406792856.0,...,1.043068e+09,438000.0,NaN,9084000.0,NaN,7382000.0,NaN,8.925848e+10,4.120526e+10,4.805322e+10
817,817,2015-02-01,8.0,NaN,NaN,NaN,NaN,NaN,14776228.0,391716828.0,...,1.008061e+09,434000.0,NaN,9247000.0,NaN,7205000.0,NaN,8.572316e+10,4.060305e+10,4.512011e+10
818,818,2015-03-01,26.0,NaN,NaN,NaN,NaN,NaN,17212906.0,445890962.0,...,1.115752e+09,434000.0,NaN,9675000.0,NaN,7775000.0,NaN,9.607033e+10,4.523892e+10,5.083141e+10
819,819,2015-04-01,28.0,1.08,NaN,NaN,NaN,NaN,17783008.0,441944313.0,...,1.088649e+09,438000.0,NaN,9733000.0,NaN,7504000.0,NaN,9.332653e+10,4.450941e+10,4.881712e+10
820,820,2015-05-01,32.0,NaN,NaN,NaN,NaN,NaN,17543829.0,425134377.0,...,1.064995e+09,457000.0,NaN,9740000.0,NaN,7735000.0,NaN,9.270713e+10,4.382345e+10,4.888367e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,879,2020-04-01,14.0,NaN,NaN,3010000.0,130000.0,2880000.0,4666471.0,93535952.0,...,1.447281e+09,346000.0,3010000.0,6769000.0,130000.0,1974000.0,2880000.0,5.812297e+10,2.835669e+10,2.976629e+10
880,880,2020-05-01,22.0,NaN,NaN,8420000.0,190000.0,8240000.0,5662109.0,106185406.0,...,1.583861e+09,304000.0,NaN,9487000.0,NaN,2708000.0,NaN,5.606894e+10,2.536716e+10,3.070178e+10
881,881,2020-06-01,29.0,NaN,NaN,NaN,NaN,NaN,7066933.0,159082555.0,...,NaN,342000.0,NaN,10086000.0,NaN,2967000.0,NaN,8.205149e+10,4.159115e+10,4.046034e+10
882,882,2020-07-01,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
883,883,2020-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
filtered_transportation_stats.to_csv('filtered_transportation_stats.csv', index=False)

In [29]:
ny_subway

,Unique ID,Datetime,Stop Name,Remote Unit,Line,Connecting Lines,Daytime Routes,North Direction Label,South Direction Label,Division,Structure,Borough,Neighborhood,Latitude,Longitude,Entries,Exits
0,1,2017-02-04 04:00:00,103 St,R180,Lexington Av,6,6,Uptown Bronx,Downtown,IRT,Subway,M,East Harlem,40.790600,-73.947478,403.0,222.0
1,2,2017-02-04 04:00:00,103 St,R191,Broadway - 7Av,1,1,Uptown Bronx,Downtown,IRT,Subway,M,Upper West Side,40.799446,-73.968379,119.0,145.0
2,3,2017-02-04 04:00:00,103 St,R314,8th Av - Fulton St,BC,BC,Uptown Bronx,Downtown Brooklyn,IND,Subway,M,Upper West Side,40.796092,-73.961454,55.0,81.0
3,10,2017-02-04 04:00:00,111 St,R355,Liberty Av,A,A,Manhattan,Lefferts Blvd,IND,Elevated,Q,South Ozone Park/Howard Beach,40.684331,-73.832163,156.0,30.0
4,11,2017-02-04 04:00:00,116 St,R182,Lexington Av,6,6,Uptown Bronx,Downtown,IRT,Subway,M,East Harlem,40.798629,-73.941617,495.0,303.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4589375,113,2021-08-13 20:00:00,5 Av/53 St,R015,Queens Blvd,EM,EM,Queens,Downtown Brooklyn,IND,Subway,M,Clinton/Chelsea,40.760167,-73.975224,1182.0,646.0
4589376,114,2021-08-13 20:00:00,5 Av/59 St,R079,Astoria,NQR,NWR,Queens,Downtown Brooklyn,BMT,Subway,M,Upper West Side,40.764811,-73.973347,1274.0,445.0
4589377,310,2021-08-13 20:00:00,Fulton St,R028,"Clark St, Lexington Av",2345ACJZ,2345,Uptown Bronx Uptown Bronx,Downtown Brooklyn Downtown Brooklyn,IRT,Subway,M,Financial District,40.709892,-74.008040,433.0,549.0
4589378,311,2021-08-13 20:00:00,Fulton St,R028,Jamaica,ACJZ2345,JZ,Brooklyn,Broad St,BMT,Subway,M,Financial District,40.710374,-74.007582,491.0,844.0
4589379,456,2021-08-13 20:00:00,Wall St,R043,Lexington Av,45,45,Uptown Bronx,Downtown Brooklyn,IRT,Subway,M,Financial District,40.707557,-74.011862,763.0,499.0

In [30]:
ny_stations

    remote   booth  complex_id             station line_name division
0      R001   A060       635.0        WHITEHALL ST        R1      BMT
1      R001   A058       635.0        WHITEHALL ST        R1      BMT
2      R001  R101S       635.0         SOUTH FERRY        R1      IRT
3      R002   A077       628.0           FULTON ST  ACJZ2345      BMT
4      R002   A081       628.0           FULTON ST  ACJZ2345      BMT
..      ...    ...         ...                 ...       ...      ...
771    R570  N700A       477.0  72 ST - SECOND AVE         Q      IND
772    R571   N701       476.0  86 ST - SECOND AVE         Q      IND
773    R571  N701A       476.0  86 ST - SECOND AVE         Q      IND
774    R572   N702       475.0  96 ST - SECOND AVE         Q      IND
775    R572  N702A       475.0  96 ST - SECOND AVE         Q      IND

[776 rows x 6 columns]

In [31]:
ny_census

,Neighborhood,Born in New York State,Car-free commute (% of commuters),Disabled population,FHAVA-backed home purchase loans (% of home purchase loans),Foreign-born population,Higher-cost home purchase loans (% of home purchase loans),Higher-cost refinance loans (% of refinance loans),"Home purchase loan rate (per 1,000 properties)",Home purchase loans in LMI tracts (% of home purchase loans),...,Severely rent-burdened households,"Severely rent-burdened households, low income","Severely rent-burdened households, moderate income",Single-person households,"Students performing at grade level in English language arts, 4th grade","Students performing at grade level in math, 4th grade","Total housing code violations (per 1,000 privately owned rental units)",Unemployment rate,Units authorized by new residential building permits,Units issued new certificates of occupancy
0,Greenpoint/Williamsburg,46.7,84.4,6.8,0.0,24.9,0.0,1.7,27.7,1.0,...,26.7,47.3,7.4,29.9,42.6,41.1,150.3,5.49,534,2311
1,Fort Greene/Brooklyn Heights,48.9,90.9,8.7,0.0,18.8,0.2,0.3,37.1,2.0,...,18.2,43.4,9.3,39.5,53.1,45.1,84.6,5.55,1364,2665
2,Bedford Stuyvesant,57.8,78.2,8.8,2.3,18.4,0.3,0.4,22.2,0.7,...,30.2,42.1,1.2,29.7,31.3,23.1,340.4,4.73,597,807
3,Bushwick,44.7,82.2,7.0,5.2,30.3,0.9,2.6,15.2,1.7,...,31.2,46.0,3.7,26.0,28.0,27.8,421.3,5.23,561,427
4,East New York/Starrett City,58.4,76.6,7.3,47.9,31.5,12.1,1.9,22.0,14.6,...,32.2,41.3,0.0,32.0,29.9,24.5,525.9,8.98,672,564
5,Park Slope/Carroll Gardens,49.2,86.3,6.1,0.1,16.8,0.1,0.4,34.2,0.3,...,16.8,46.5,7.7,26.6,69.8,63.3,89.7,4.20,156,904
6,Sunset Park,41.7,79.8,6.2,0.0,44.5,3.7,3.3,20.2,4.5,...,32.9,50.4,0.3,19.6,44.1,47.0,201.5,6.69,255,96
7,Crown Heights/Prospect Heights,49.2,84.9,9.5,3.2,28.5,1.3,0.5,30.6,1.6,...,28.6,45.2,1.3,34.5,39.5,29.8,368.5,6.75,236,723
8,South Crown Heights/Lefferts Gardens,41.5,82.6,5.6,4.6,41.1,2.0,2.3,18.5,4.0,...,32.6,47.8,0.0,34.7,36.8,25.1,439.3,7.80,193,448
9,Bay Ridge/Dyker Heights,50.8,68.1,6.6,0.2,38.8,2.8,1.1,19.8,7.2,...,30.2,55.4,0.1,31.0,60.8,62.6,133.7,4.73,1,27
10,Bensonhurst,38.9,68.7,6.2,0.5,55.6,3.7,3.8,17.8,9.2,...,32.8,47.8,0.0,19.4,58.3,60.4,117.1,6.10,149,71
11,Borough Park,62.2,65.8,6.1,0.3,27.9,0.6,2.9,17.4,4.3,...,45.6,59.2,1.3,22.9,44.8,50.9,165.4,5.22,157,199
12,Coney Island,37.3,71.2,13.3,1.7,52.5,2.5,2.0,15.7,12.7,...,31.3,38.2,0.0,31.7,41.7,40.4,202.7,6.12,71,99
13,Flatbush/Midwood,48.1,70.3,7.1,0.9,39.5,0.3,0.6,19.6,6.1,...,34.9,50.2,0.1,31.0,41.3,39.5,401.4,6.18,454,652
14,Sheepshead Bay,44.0,58.1,6.4,2.3,51.0,2.2,1.8,22.0,11.9,...,31.7,46.3,0.8,25.9,54.1,57.2,172.8,5.16,200,527
15,Brownsville,62.2,79.5,11.5,42.1,26.2,15.0,1.9,13.6,4.6,...,38.8,43.8,0.0,50.3,19.3,13.1,514.9,20.75,206,542
16,East Flatbush,42.1,72.1,6.7,35.5,51.0,8.7,1.8,16.9,4.9,...,34.7,47.6,0.4,33.2,36.4,26.7,525.3,5.86,461,213
17,Flatlands/Canarsie,53.2,56.1,5.2,26.2,40.0,8.4,2.4,21.1,5.7,...,28.6,46.8,0.5,21.8,45.6,42.3,160.4,5.33,9,10
18,Mott Haven/Melrose,55.7,77.4,20.9,30.0,29.6,6.7,4.2,11.1,12.1,...,32.5,36.0,0.0,34.2,24.6,21.9,364.0,13.54,1205,333
19,Hunts Point/Longwood,55.7,77.4,20.9,30.0,29.6,6.7,4.2,11.1,12.1,...,32.5,36.0,0.0,34.2,20.5,19.1,509.7,13.54,359,72
20,Morrisania/Crotona,53.4,74.4,19.5,53.4,32.3,12.3,1.7,9.5,21.9,...,35.6,41.1,0.0,29.1,20.1,18.2,476.8,14.45,1062,613
21,Highbridge/Concourse,46.9,82.4,14.0,10.3,43.8,2.9,7.1,10.9,25.0,...,39.8,46.5,0.0,27.8,25.8,24.0,695.6,12.52,592,356
22,Fordham/University Heights,45.4,80.0,13.8,54.8,46.4,12.9,6.3,10.2,3.2,...,41.7,49.5,0.0,26.2,27.0,22.5,705.9,15.97,152,222
23,Belmont/East Tremont,53.4,74.4,19.5,53.4,32.3,12.3,1.7,9.5,21.9,...,35.6,41.1,0.0,29.1,22.2,12.1,584.8,14.45,756,332
24,Kingsbridge Heights/Bedford,50.6,77.2,14.2,9.6,40.6,0.9,0.0,22.1,27.4,...,37.3,46.1,0.6,23.2,28.8,26.0,479.6,10.65,383,248
25,Riverdale/Fieldston,52.0,68.6,12.0,0.9,35.0,0.7,1.3,26.8,10.5,...,29.1,46.3,0.0,34.1,46.3,40.4,304.5,8.20,175,137
26,Parkchester/Soundview,52.5,69.4,14.9,28.6,33.7,7.0,1.0,11.9,18.5,...,33.7,43.2,0.0,28.7,27.7,22.8,421.3,8.42,414,116
27,Throgs Neck/Co-op City,61.5,50.0,10.5,31.9,24.2,9.5,1.1,12.8,12.4,...,24.7,38.1,1.1,37.5,40.1,37.5,156.3,7.67,35,50
28,Morris Park/Bronxdale,52.4,62.7,15.5,27.3,34.0,7.7,1.1,20.9,12.4,...,32.1,42.4,0.1,31.2,37.2,33.5,275.1,9.88,61,204
29,Williamsbridge/Baychester,48.2,54.6,8.9,60.6,42.9,16.4,1.4,21.1,8.1,...,34.0,46.1,0.3,25.7,30.6,21.6,441.4,7.18,160,89
30,Financial District,37.8,88.3,3.3,0.0,22.9,0.3,0.8,22.4,0.3,...,18.4,65.4,22.8,47.5,78.4,81.6,16.7,2.55,436,0
31,Greenwich Village/Soho,37.8,88.3,3.3,0.0,22.9,0.3,0.8,22.4,0.3,...,18.4,65.4,22.8,47.5,79.0,83.2,115.9,2.55,112,256
32,Lower East Side/Chinatown,39.4,89.2,5.9,0.0,36.0,0.0,2.3,13.5,2.5,...,23.1,36.1,6.9,46.4,56.7,59.3,177.8,6.28,461,730
33,Clinton/Chelsea,33.0,88.8,6.3,0.0,32.5,0.3,1.0,19.0,1.8,...,20.6,45.9,26.9,59.4,67.3,64.9,81.1,4.82,857,2124
34,Midtown,33.0,88.8,6.3,0.0,32.5,0.3,1.0,19.0,1.8,...,20.6,45.9,26.9,59.4,82.9,68.3,47.1,4.82,170,676
35,Stuyvesant Town/Turtle Bay,41.3,89.9,1.7,0.0,22.6,0.4,0.3,22.5,1.5,...,20.6,64.8,22.7,51.3,77.8,68.7,50.8,3.88,229,429
36,Upper West Side,47.6,85.5,6.5,0.0,17.6,0.4,0.2,17.1,0.1,...,20.1,44.7,17.2,42.6,72.0,73.5,142.7,4.76,1030,401
37,Upper East Side,48.0,83.2,3.0,0.0,22.9,0.2,0.3,17.1,0.2,...,19.7,59.4,11.8,44.4,80.2,78.0,80.7,2.10,178,506
38,Morningside Heights/Hamilton,42.4,88.9,5.9,0.0,31.3,0.4,0.0,18.4,3.6,...,29.7,47.6,3.8,35.0,38.4,34.6,532.5,5.75,39,82
39,Central Harlem,53.3,85.6,8.7,0.0,25.2,0.0,2.2,21.0,2.8,...,24.8,35.3,0.6,38.9,22.5,14.2,393.2,8.23,477,113
40,East Harlem,57.0,86.7,13.6,0.0,25.5,0.0,0.0,9.5,1.1,...,23.2,29.4,7.3,44.9,35.2,33.2,374.2,8.89,864,357
41,Washington Heights/Inwood,37.0,87.7,8.3,0.0,44.0,0.0,1.0,22.3,6.7,...,30.1,46.5,1.2,31.0,28.3,27.8,572.4,8.69,104,35
42,Astoria,46.2,81.6,4.6,1.1,36.8,1.1,3.1,15.2,3.6,...,23.9,45.6,0.1,35.7,46.1,44.7,69.1,4.61,420,1110
43,Woodside/Sunnyside,34.1,74.7,3.1,0.4,53.7,1.8,0.7,23.4,7.8,...,24.4,46.0,2.6,32.8,53.7,52.8,75.0,2.98,587,2817
44,Jackson Heights,32.7,75.2,7.1,5.5,60.1,6.5,2.8,22.5,12.0,...,35.2,54.8,0.0,25.4,34.4,32.7,138.4,4.19,76,66
45,Elmhurst/Corona,30.9,77.4,7.3,3.6,63.9,9.2,5.9,12.4,21.9,...,35.9,51.8,0.2,19.8,33.7,36.8,112.3,4.26,255,136
46,Ridgewood/Maspeth,52.9,63.4,4.8,8.2,38.8,6.1,1.0,17.3,4.1,...,26.0,49.5,0.8,20.1,49.2,48.6,100.0,4.83,253,171
47,Rego Park/Forest Hills,43.7,73.0,4.8,0.2,47.5,0.3,0.9,26.0,7.9,...,29.3,58.6,2.2,39.5,57.9,59.7,82.7,3.00,9,95
48,Flushing/Whitestone,38.3,52.1,4.1,0.4,58.7,12.9,5.8,19.7,8.4,...,39.9,54.2,0.0,25.7,59.9,64.9,93.6,2.56,602,265
49,Hillcrest/Fresh Meadows,46.7,52.7,5.7,2.0,44.9,7.0,3.2,19.3,12.6,...,30.7,57.2,0.6,30.1,51.9,49.1,113.5,5.77,133,70
50,Kew Gardens/Woodhaven,39.6,64.5,6.4,15.8,53.6,5.7,2.2,25.1,10.3,...,31.1,53.2,0.0,21.6,44.3,46.0,132.8,5.94,97,9
51,South Ozone Park/Howard Beach,52.4,45.8,8.4,26.7,42.7,7.6,2.6,25.3,9.6,...,34.9,54.7,0.0,13.6,50.9,48.4,108.9,5.40,40,20
52,Bayside/Little Neck,51.3,39.4,4.5,0.2,44.6,6.5,5.3,24.3,11.9,...,28.1,51.3,4.0,28.5,72.9,77.8,36.0,4.86,88,59
53,Jamaica/Hollis,47.1,52.5,7.7,57.7,45.5,12.1,1.5,20.0,7.3,...,31.3,46.9,0.0,23.7,34.0,25.9,222.5,7.35,1237,79
54,Queens Village,49.8,36.6,4.8,38.4,43.0,9.3,1.8,23.3,6.1,...,30.5,52.9,1.8,20.4,47.9,40.7,132.9,7.46,36,34
55,Rockaway/Broad Channel,68.2,45.2,11.8,30.1,22.4,7.5,1.9,16.6,5.5,...,28.8,41.0,0.9,31.7,29.2,26.7,218.9,10.01,347,331
56,St. George/Stapleton,64.8,40.6,9.0,17.8,25.4,5.0,2.1,29.8,17.9,...,35.6,49.9,0.0,24.1,36.3,32.5,229.6,3.90,192,216
57,South Beach/Willowbrook,65.5,32.1,5.3,5.7,30.1,4.5,1.1,32.5,14.8,...,30.2,46.4,0.0,21.1,47.6,45.0,41.4,4.77,239,205
58,Tottenville/Great Kills,78.5,26.5,6.8,12.6,16.5,2.8,1.4,33.4,9.2,...,29.9,50.2,2.5,19.2,59.3,58.6,25.3,4.37,245,256

In [32]:
mta_ridership

,Date,Subways: Total Estimated Ridership,Subways: % of Comparable Pre-Pandemic Day,Buses: Total Estimated Ridership,Buses: % of Comparable Pre-Pandemic Day,LIRR: Total Estimated Ridership,LIRR: % of Comparable Pre-Pandemic Day,Metro-North: Total Estimated Ridership,Metro-North: % of Comparable Pre-Pandemic Day,Access-A-Ride: Total Scheduled Trips,Access-A-Ride: % of Comparable Pre-Pandemic Day,Bridges and Tunnels: Total Traffic,Bridges and Tunnels: % of Comparable Pre-Pandemic Day,Staten Island Railway: Total Estimated Ridership,Staten Island Railway: % of Comparable Pre-Pandemic Day
0,03/01/2020,2212965,0.97,984908,0.99,NaN,NaN,55826,0.59,19922,1.13,786961,0.98,1636.0,0.52
1,03/02/2020,5329915,0.96,2209066,0.99,321569.0,1.03,180702,0.66,30338,1.02,874620,0.95,17140.0,1.07
2,03/03/2020,5481103,0.98,2228608,0.99,319727.0,1.02,190648,0.69,32767,1.10,882175,0.96,17453.0,1.09
3,03/04/2020,5498809,0.99,2177165,0.97,311662.0,0.99,192689,0.70,34297,1.15,905558,0.98,17136.0,1.07
4,03/05/2020,5496453,0.99,2244515,1.00,307597.0,0.98,194387,0.70,33209,1.12,929298,1.01,17203.0,1.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1616,08/03/2024,2199793,0.75,738902,0.54,123922.0,0.93,109769,0.72,22133,1.33,938339,0.98,2851.0,0.61
1617,08/04/2024,1752367,0.74,584980,0.53,108959.0,1.05,92383,0.89,22186,1.23,885224,0.96,2097.0,0.58
1618,08/05/2024,3221444,0.63,1141566,0.57,234345.0,0.75,192078,0.70,33112,1.19,955722,0.98,6375.0,0.48
1619,08/06/2024,3460897,0.67,1089684,0.54,234650.0,0.75,207212,0.76,35331,1.26,898384,0.92,6974.0,0.52
1620,08/07/2024,3504508,0.68,1003463,0.50,239223.0,0.76,202867,0.74,36667,1.31,920296,0.95,6588.0,0.49

In [36]:
nyc_air

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,06/01/2013,34.64,NaN
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,06/01/2014,33.22,NaN
2,219969,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,06/01/2013,31.25,NaN
3,219970,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,06/01/2014,31.15,NaN
4,164876,383,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,12/01/2008,5.89,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16117,671118,386,Ozone (O3),Mean,ppb,CD,306,Park Slope and Carroll Gardens (CD6),Summer 2020,06/01/2020,28.70,NaN
16118,671119,386,Ozone (O3),Mean,ppb,CD,305,East New York and Starrett City (CD5),Summer 2020,06/01/2020,29.56,NaN
16119,671120,386,Ozone (O3),Mean,ppb,CD,304,Bushwick (CD4),Summer 2020,06/01/2020,29.65,NaN
16120,671121,386,Ozone (O3),Mean,ppb,CD,303,Bedford Stuyvesant (CD3),Summer 2020,06/01/2020,29.28,NaN
16121,671122,386,Ozone (O3),Mean,ppb,CD,302,Fort Greene and Brooklyn Heights (CD2),Summer 2020,06/01/2020,28.93,NaN

In [38]:
#Verifying all dataframes before saving them for EDA
print(ny_subway.head())
print(ny_stations.head())
print(ny_census.head())
print(mta_ridership.head())
print(nyc_air.head())
print(usa_pollution_nyc.head())
print(filtered_transportation_stats.head())

   Unique ID             Datetime Stop Name Remote Unit                Line  \
0          1  2017-02-04 04:00:00    103 St        R180        Lexington Av
1          2  2017-02-04 04:00:00    103 St        R191      Broadway - 7Av
2          3  2017-02-04 04:00:00    103 St        R314  8th Av - Fulton St
3         10  2017-02-04 04:00:00    111 St        R355          Liberty Av
4         11  2017-02-04 04:00:00    116 St        R182        Lexington Av

  Connecting Lines Daytime Routes North Direction Label South Direction Label  \
0                6              6          Uptown Bronx              Downtown
1                1              1          Uptown Bronx              Downtown
2               BC             BC          Uptown Bronx     Downtown Brooklyn
3                A              A             Manhattan         Lefferts Blvd
4                6              6          Uptown Bronx              Downtown

  Division Structure Borough                   Neighborhood   Latitude  \
0      IRT    Subway       M                    East Harlem  40.790600
1      IRT    Subway       M                Upper West Side  40.799446
2      IND    Subway       M                Upper West Side  40.796092
3      IND  Elevated       Q  South Ozone Park/Howard Beach  40.684331
4      IRT    Subway       M                    East Harlem  40.798629

   Longitude  Entries  Exits
0 -73.947478    403.0  222.0
1 -73.968379    119.0  145.0
2 -73.961454     55.0   81.0
3 -73.832163    156.0   30.0
4 -73.941617    495.0  303.0
  remote   booth  complex_id       station line_name division
0    R001   A060       635.0  WHITEHALL ST        R1      BMT
1    R001   A058       635.0  WHITEHALL ST        R1      BMT
2    R001  R101S       635.0   SOUTH FERRY        R1      IRT
3    R002   A077       628.0     FULTON ST  ACJZ2345      BMT
4    R002   A081       628.0     FULTON ST  ACJZ2345      BMT
                   Neighborhood  Born in New York State  \
0       Greenpoint/Williamsburg                    46.7
1  Fort Greene/Brooklyn Heights                    48.9
2            Bedford Stuyvesant                    57.8
3                      Bushwick                    44.7
4   East New York/Starrett City                    58.4

   Car-free commute (% of commuters)  Disabled population  \
0                               84.4                  6.8
1                               90.9                  8.7
2                               78.2                  8.8
3                               82.2                  7.0
4                               76.6                  7.3

   FHAVA-backed home purchase loans (% of home purchase loans)  \
0                                                0.0
1                                                0.0
2                                                2.3
3                                                5.2
4                                               47.9

   Foreign-born population  \
0                     24.9
1                     18.8
2                     18.4
3                     30.3
4                     31.5

   Higher-cost home purchase loans (% of home purchase loans)  \
0                                                0.0
1                                                0.2
2                                                0.3
3                                                0.9
4                                               12.1

   Higher-cost refinance loans (% of refinance loans)  \
0                                                1.7
1                                                0.3
2                                                0.4
3                                                2.6
4                                                1.9

   Home purchase loan rate (per 1,000 properties)  \
0                                            27.7
1                                            37.1
2                                            22.2
3                                            15.2
4                                            22.0

   Home purchase loans in LMI tracts (% of home purchase loans)  ...  \
0                                                1.0             ...
1                                                2.0             ...
2                                                0.7             ...
3                                                1.7             ...
4                                               14.6             ...

   Severely rent-burdened households  \
0                               26.7
1                               18.2
2                               30.2
3                               31.2
4                               32.2

   Severely rent-burdened households, low income  \
0                                           47.3
1                                           43.4
2                                           42.1
3                                           46.0
4                                           41.3

   Severely rent-burdened households, moderate income  \
0                                                7.4
1                                                9.3
2                                                1.2
3                                                3.7
4                                                0.0

   Single-person households  \
0                      29.9
1                      39.5
2                      29.7
3                      26.0
4                      32.0

   Students performing at grade level in English language arts, 4th grade  \
0                                               42.6
1                                               53.1
2                                               31.3
3                                               28.0
4                                               29.9

   Students performing at grade level in math, 4th grade  \
0                                               41.1
1                                               45.1
2                                               23.1
3                                               27.8
4                                               24.5

   Total housing code violations (per 1,000 privately owned rental units)  \
0                                              150.3
1                                               84.6
2                                              340.4
3                                              421.3
4                                              525.9

   Unemployment rate  Units authorized by new residential building permits  \
0               5.49                                                534
1               5.55                                               1364
2               4.73                                                597
3               5.23                                                561
4               8.98                                                672

   Units issued new certificates of occupancy
0                                        2311
1                                        2665
2                                         807
3                                         427
4                                         564

[5 rows x 87 columns]
         Date  Subways: Total Estimated Ridership  \
0  03/01/2020                             2212965
1  03/02/2020                             5329915
2  03/03/2020                             5481103
3  03/04/2020                             5498809
4  03/05/2020                             5496453

   Subways: % of Comparable Pre-Pandemic Day  \
0                                       0.97
1                                       0.96
2                                       0.98
3                                       0.99
4                                       0.99

   Buses: Total Estimated Ridership  Buses: % of Comparable Pre-Pandemic Day  \
0                            984908                                     0.99
1                           2209066                                     0.99
2                           2228608                                     0.99
3                           2177165                                     0.97
4                           2244515                                     1.00

   LIRR: Total Estimated Ridership  LIRR: % of Comparable Pre-Pandemic Day  \
0                              NaN                                     NaN
1                         321569.0                                    1.03
2                         319727.0                                    1.02
3                         311662.0                                    0.99
4                         307597.0                                    0.98

   Metro-North: Total Estimated Ridership  \
0                                   55826
1                                  180702
2                                  190648
3                                  192689
4                                  194387

   Metro-North: % of Comparable Pre-Pandemic Day  \
0                                           0.59
1                                           0.66
2                                           0.69
3                                           0.70
4                                           0.70

   Access-A-Ride: Total Scheduled Trips  \
0                                 19922
1                                 30338
2                                 32767
3                                 34297
4                                 33209

   Access-A-Ride: % of Comparable Pre-Pandemic Day  \
0                                             1.13
1                                             1.02
2                                             1.10
3                                             1.15
4                                             1.12

   Bridges and Tunnels: Total Traffic  \
0                              786961
1                              874620
2                              882175
3                              905558
4                              929298

   Bridges and Tunnels: % of Comparable Pre-Pandemic Day  \
0                                               0.98
1                                               0.95
2                                               0.96
3                                               0.98
4                                               1.01

   Staten Island Railway: Total Estimated Ridership  \
0                                            1636.0
1                                           17140.0
2                                           17453.0
3                                           17136.0
4                                           17203.0

   Staten Island Railway: % of Comparable Pre-Pandemic Day
0                                               0.52
1                                               1.07
2                                               1.09
3                                               1.07
4                                               1.08
   Unique ID  Indicator ID                  Name Measure Measure Info  \
0     216498           386            Ozone (O3)    Mean          ppb
1     216499           386            Ozone (O3)    Mean          ppb
2     219969           386            Ozone (O3)    Mean          ppb
3     219970           386            Ozone (O3)    Mean          ppb
4     164876           383  Sulfur Dioxide (SO2)    Mean          ppb

  Geo Type Name  Geo Join ID                    Geo Place Name  \
0            CD          313               Coney Island (CD13)
1            CD          313               Coney Island (CD13)
2       Borough            1                             Bronx
3       Borough            1                             Bronx
4            CD          211  Morris Park and Bronxdale (CD11)

      Time Period  Start_Date  Data Value  Message
0     Summer 2013  06/01/2013       34.64      NaN
1     Summer 2014  06/01/2014       33.22      NaN
2     Summer 2013  06/01/2013       31.25      NaN
3     Summer 2014  06/01/2014       31.15      NaN
4  Winter 2008-09  12/01/2008        5.89      NaN
       Unnamed: 0        Date                                     Address  \
15820       15820  2000-05-05  200TH STREET AND SOUTHERN BLVD Harding Lab
15821       15821  2000-05-06  200TH STREET AND SOUTHERN BLVD Harding Lab
15822       15822  2000-05-07  200TH STREET AND SOUTHERN BLVD Harding Lab
15823       15823  2000-05-08  200TH STREET AND SOUTHERN BLVD Harding Lab
15824       15824  2000-05-09  200TH STREET AND SOUTHERN BLVD Harding Lab

          State County      City   O3 Mean  O3 1st Max Value  O3 1st Max Hour  \
15820  New York  Bronx  New York  0.020882             0.036               10
15821  New York  Bronx  New York  0.036647             0.065               10
15822  New York  Bronx  New York  0.040059             0.069               10
15823  New York  Bronx  New York  0.032529             0.057               10
15824  New York  Bronx  New York  0.048235             0.066               10

       O3 AQI  ...  CO 1st Max Hour  CO AQI   SO2 Mean  SO2 1st Max Value  \
15820      33  ...               23    13.0   8.800000               15.0
15821      84  ...                5    24.0   9.500000               26.0
15822      97  ...                0    15.0   7.041667               21.0
15823      58  ...               23    14.0  12.045455               26.0
15824      87  ...                0    14.0   9.666667               19.0

       SO2 1st Max Hour  SO2 AQI   NO2 Mean  NO2 1st Max Value  \
15820                23     21.0  42.500000               60.0
15821                 2     37.0  42.875000               82.0
15822                 6     30.0  29.000000               56.0
15823                 6     37.0  49.958333               87.0
15824                 1     27.0  36.619048               55.0

       NO2 1st Max Hour  NO2 AQI
15820                22       57
15821                20       81
15822                 7       53
15823                20       86
15824                 7       52

[5 rows x 22 columns]
     Index       Date  Air Safety - General Aviation Fatalities  \
816    816 2015-01-01                                      24.0
817    817 2015-02-01                                       8.0
818    818 2015-03-01                                      26.0
819    819 2015-04-01                                      28.0
820    820 2015-05-01                                      32.0

     Highway Fatalities Per 100 Million Vehicle Miles Traveled  \
816                                               1.03
817                                                NaN
818                                                NaN
819                                               1.08
820                                                NaN

     Highway Fatalities  U.S. Airline Traffic - Total - Seasonally Adjusted  \
816              7370.0                                                NaN
817                 NaN                                                NaN
818                 NaN                                                NaN
819                 NaN                                                NaN
820                 NaN                                                NaN

     U.S. Airline Traffic - International - Seasonally Adjusted  \
816                                                NaN
817                                                NaN
818                                                NaN
819                                                NaN
820                                                NaN

     U.S. Airline Traffic - Domestic - Seasonally Adjusted  \
816                                                NaN
817                                                NaN
818                                                NaN
819                                                NaN
820                                                NaN

     Transit Ridership - Other Transit Modes - Adjusted  \
816                                         15481236.0
817                                         14776228.0
818                                         17212906.0
819                                         17783008.0
820                                         17543829.0

     Transit Ridership - Fixed Route Bus - Adjusted  ...  \
816                                     406792856.0  ...
817                                     391716828.0  ...
818                                     445890962.0  ...
819                                     441944313.0  ...
820                                     425134377.0  ...

     U.S. Air Carrier Cargo (millions of revenue ton-miles) - Domestic  \
816                                       1.043068e+09
817                                       1.008061e+09
818                                       1.115752e+09
819                                       1.088649e+09
820                                       1.064995e+09

     Heavy truck sales SAAR (millions)  \
816                           438000.0
817                           434000.0
818                           434000.0
819                           438000.0
820                           457000.0

     U.S. Airline Traffic - Total - Non Seasonally Adjusted  \
816                                                NaN
817                                                NaN
818                                                NaN
819                                                NaN
820                                                NaN

     Light truck sales SAAR (millions)  \
816                          9084000.0
817                          9247000.0
818                          9675000.0
819                          9733000.0
820                          9740000.0

     U.S. Airline Traffic - International - Non Seasonally Adjusted  \
816                                                NaN
817                                                NaN
818                                                NaN
819                                                NaN
820                                                NaN

     Auto sales SAAR (millions)  \
816                   7382000.0
817                   7205000.0
818                   7775000.0
819                   7504000.0
820                   7735000.0

     U.S. Airline Traffic - Domestic - Non Seasonally Adjusted  \
816                                                NaN
817                                                NaN
818                                                NaN
819                                                NaN
820                                                NaN

     Transborder - Total North American Freight  \
816                                8.925848e+10
817                                8.572316e+10
818                                9.607033e+10
819                                9.332653e+10
820                                9.270713e+10

     Transborder - U.S. - Mexico Freight  Transborder - U.S. - Canada Freight
816                         4.120526e+10                         4.805322e+10
817                         4.060305e+10                         4.512011e+10
818                         4.523892e+10                         5.083141e+10
819                         4.450941e+10                         4.881712e+10
820                         4.382345e+10                         4.888367e+10

[5 rows x 136 columns]

In [54]:
# Fill missing categorical values with the mode
ny_subway['North Direction Label'].fillna(ny_subway['North Direction Label'].mode()[0], inplace=True)
ny_subway['South Direction Label'].fillna(ny_subway['South Direction Label'].mode()[0], inplace=True)

In [49]:
#Checking for nulls
ny_subway.isnull().sum()

Unique ID                0
Datetime                 0
Stop Name                0
Remote Unit              0
Line                     0
Connecting Lines         0
Daytime Routes           0
North Direction Label    0
South Direction Label    0
Division                 0
Structure                0
Borough                  0
Neighborhood             0
Latitude                 0
Longitude                0
Entries                  0
Exits                    0
dtype: int64

In [55]:
# Fill missing categorical values with the mode
ny_stations['complex_id'].fillna(ny_stations['complex_id'].mode()[0], inplace=True)

In [53]:
ny_stations.isnull().sum()

remote        0
booth         0
complex_id    0
station       0
line_name     0
division      0
dtype: int64

In [42]:
ny_census.isnull().sum()

Neighborhood                                                              0
Born in New York State                                                    0
Car-free commute (% of commuters)                                         0
Disabled population                                                       0
FHAVA-backed home purchase loans (% of home purchase loans)               0
                                                                         ..
Students performing at grade level in math, 4th grade                     0
Total housing code violations (per 1,000 privately owned rental units)    0
Unemployment rate                                                         0
Units authorized by new residential building permits                      0
Units issued new certificates of occupancy                                0
Length: 87, dtype: int64

In [56]:
# Fill missing categorical values with the mode
mta_ridership['LIRR: Total Estimated Ridership'].fillna(mta_ridership['LIRR: Total Estimated Ridership'].mode()[0], inplace=True)
mta_ridership['LIRR: % of Comparable Pre-Pandemic Day'].fillna(mta_ridership['LIRR: % of Comparable Pre-Pandemic Day'].mode()[0], inplace=True)
mta_ridership['Staten Island Railway: Total Estimated Ridership'].fillna(mta_ridership['Staten Island Railway: Total Estimated Ridership'].mode()[0], inplace=True)
mta_ridership['Staten Island Railway: % of Comparable Pre-Pandemic Day'].fillna(mta_ridership['Staten Island Railway: % of Comparable Pre-Pandemic Day'].mode()[0], inplace=True)

In [57]:
mta_ridership.isnull().sum()

Date                                                       0
Subways: Total Estimated Ridership                         0
Subways: % of Comparable Pre-Pandemic Day                  0
Buses: Total Estimated Ridership                           0
Buses: % of Comparable Pre-Pandemic Day                    0
LIRR: Total Estimated Ridership                            0
LIRR: % of Comparable Pre-Pandemic Day                     0
Metro-North: Total Estimated Ridership                     0
Metro-North: % of Comparable Pre-Pandemic Day              0
Access-A-Ride: Total Scheduled Trips                       0
Access-A-Ride: % of Comparable Pre-Pandemic Day            0
Bridges and Tunnels: Total Traffic                         0
Bridges and Tunnels: % of Comparable Pre-Pandemic Day      0
Staten Island Railway: Total Estimated Ridership           0
Staten Island Railway: % of Comparable Pre-Pandemic Day    0
dtype: int64

In [62]:
nyc_air.isnull().sum()

Unique ID             0
Indicator ID          0
Name                  0
Measure               0
Measure Info          0
Geo Type Name         0
Geo Join ID           0
Geo Place Name        0
Time Period           0
Start_Date            0
Data Value            0
Message           16122
dtype: int64

In [45]:
usa_pollution_nyc.isnull().sum()

Unnamed: 0           0
Date                 0
Address              0
State                0
County               0
City                 0
O3 Mean              0
O3 1st Max Value     0
O3 1st Max Hour      0
O3 AQI               0
CO Mean              0
CO 1st Max Value     0
CO 1st Max Hour      0
CO AQI               0
SO2 Mean             0
SO2 1st Max Value    0
SO2 1st Max Hour     0
SO2 AQI              0
NO2 Mean             0
NO2 1st Max Value    0
NO2 1st Max Hour     0
NO2 AQI              0
dtype: int64

In [64]:
# Fill missing categorical values with the mode
filtered_transportation_stats['Air Safety - General Aviation Fatalities'].fillna(filtered_transportation_stats['Air Safety - General Aviation Fatalities'].mode()[0], inplace=True)
filtered_transportation_stats['Highway Fatalities Per 100 Million Vehicle Miles Traveled'].fillna(filtered_transportation_stats['Highway Fatalities Per 100 Million Vehicle Miles Traveled'].mode()[0], inplace=True)
filtered_transportation_stats['Highway Fatalities'].fillna(filtered_transportation_stats['Highway Fatalities'].mode()[0], inplace=True)
filtered_transportation_stats['Auto sales SAAR (millions)'].fillna(filtered_transportation_stats['Auto sales SAAR (millions)'].mode()[0], inplace=True)
filtered_transportation_stats['U.S. Airline Traffic - Domestic - Non Seasonally Adjusted'].fillna(filtered_transportation_stats['U.S. Airline Traffic - Domestic - Non Seasonally Adjusted'].mode()[0], inplace=True)
filtered_transportation_stats['Transborder - Total North American Freight'].fillna(filtered_transportation_stats['Transborder - Total North American Freight'].mode()[0], inplace=True)
filtered_transportation_stats['Transborder - U.S. - Mexico Freight'].fillna(filtered_transportation_stats['Transborder - U.S. - Mexico Freight'].mode()[0], inplace=True)
filtered_transportation_stats['Transborder - U.S. - Canada Freight'].fillna(filtered_transportation_stats['Transborder - U.S. - Canada Freight'].mode()[0], inplace=True)

<ipython-input-64-4bdf4ce681d6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transportation_stats['Air Safety - General Aviation Fatalities'].fillna(filtered_transportation_stats['Air Safety - General Aviation Fatalities'].mode()[0], inplace=True)
<ipython-input-64-4bdf4ce681d6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transportation_stats['Highway Fatalities Per 100 Million Vehicle Miles Traveled'].fillna(filtered_transportation_stats['Highway Fatalities Per 100 Million Vehicle Miles Traveled'].mode()[0], inplace=True)
<ipython-input-64-4bdf4ce681d6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transportation_stats['Highway Fatalities'].fillna(filtered_transportation_stats['Highway Fatalities'].mode()[0], inplace=True)
<ipython-input-64-4bdf4ce681d6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transportation_stats['Auto sales SAAR (millions)'].fillna(filtered_transportation_stats['Auto sales SAAR (millions)'].mode()[0], inplace=True)
<ipython-input-64-4bdf4ce681d6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transportation_stats['U.S. Airline Traffic - Domestic - Non Seasonally Adjusted'].fillna(filtered_transportation_stats['U.S. Airline Traffic - Domestic - Non Seasonally Adjusted'].mode()[0], inplace=True)
<ipython-input-64-4bdf4ce681d6>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transportation_stats['Transborder - Total North American Freight'].fillna(filtered_transportation_stats['Transborder - Total North American Freight'].mode()[0], inplace=True)
<ipython-input-64-4bdf4ce681d6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transportation_stats['Transborder - U.S. - Mexico Freight'].fillna(filtered_transportation_stats['Transborder - U.S. - Mexico Freight'].mode()[0], inplace=True)
<ipython-input-64-4bdf4ce681d6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transportation_stats['Transborder - U.S. - Canada Freight'].fillna(filtered_transportation_stats['Transborder - U.S. - Canada Freight'].mode()[0], inplace=True)

In [65]:
filtered_transportation_stats.isnull().sum()

Index                                                        0
Date                                                         0
Air Safety - General Aviation Fatalities                     0
Highway Fatalities Per 100 Million Vehicle Miles Traveled    0
Highway Fatalities                                           0
                                                            ..
Auto sales SAAR (millions)                                   0
U.S. Airline Traffic - Domestic - Non Seasonally Adjusted    0
Transborder - Total North American Freight                   0
Transborder - U.S. - Mexico Freight                          0
Transborder - U.S. - Canada Freight                          0
Length: 136, dtype: int64

In [66]:
# Save the cleaned data
ny_subway.to_csv('/content/drive/MyDrive/Colab Notebooks/ny_subway.csv', index=False)
ny_stations.to_csv('/content/drive/MyDrive/Colab Notebooks/ny_stations.csv', index=False)
ny_census.to_csv('/content/drive/MyDrive/Colab Notebooks/ny_census.csv', index=False)
mta_ridership.to_csv('/content/drive/MyDrive/Colab Notebooks/mta_ridership.csv', index=False)
filtered_transportation_stats.to_csv('/content/drive/MyDrive/Colab Notebooks/transportation_stats_f.csv', index=False)
nyc_air.to_csv('/content/drive/MyDrive/Colab Notebooks/nyc_air.csv', index=False)
usa_pollution_nyc.to_csv('/content/drive/MyDrive/Colab Notebooks/usa_pollution_ny.csv', index=False)